* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  /* min-height: 100vh; */
}

#content {
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.imageDiv {
  /* border: 1px solid white; */
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.plate {
  height: 100%;
  max-width: 100%;
  display: block;
}

header {
  background-color: #000;
  border-bottom: 1px solid #f0f8ff;
  height: 10%;
  padding: 1.5rem;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  /* border: solid 2px red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  background-color: #f0f8ff;
  border: none;
  border-radius: 10px;
  width: 120px;
}

.headline {
  /* border: 2px solid white; */
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;
}

.text {
  font-size: 50px;
  display: inline-block;
  margin-bottom: 15px;

}