* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

#content {
  /* max-height: 90vh; */
  display: flex;
  flex-direction: row;
}

.imageDiv {
  /* border: 1px solid white; */
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.plate {
  height: 100%;
  max-width: 100%;
  display: block;
}

header {
  background-color: #000;
  border-bottom: 1px solid #f0f8ff;
  height: 10%;
  padding: 1.5rem;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  /* border: solid 2px red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  background-color: #f0f8ff;
  border: none;
  border-radius: 10px;
  width: 120px;
}

.headline {
  /* border: 2px solid white; */
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;
}

.text {
  font-size: 50px;
  display: inline-block;
  margin-bottom: 15px;
}

/* Menu page styling */
.menu-container {
  background-image: url('./assets/plate.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-border {
  border: 3px solid #f0f8ff;
  width: 60%;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(78, 97, 50, 0.5);
  z-index: 1;
}

.menu-top {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 0.8rem 0;
}

.white-menu {
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* About page styling */
.description {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  padding: 1rem;
}

.imgRestaurant {
  max-width: 50vw;
  height: 50vh;

}