* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

#content {
  display: flex;
  flex-direction: row;
}

.imageDiv {
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate {
  /* height: 100%; */
  max-width: 100%;
  /* display: block; */
}

header {
  background-color: #000;
  border-bottom: 1px solid #f0f8ff;
  height: 10%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  background-color: #f0f8ff;
  border: none;
  border-radius: 10px;
  width: 120px;
}

.headline {
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;
}

.text {
  font-size: 50px;
  display: inline-block;
  margin-bottom: 15px;
}

/* Menu page styling */
.menu-container {
  background-image: url('./assets/plate.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-border {
  border: 3px solid #f0f8ff;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80%;
  max-height: 100%;
  overflow: auto;
  background-color: rgb(50, 51, 56, 0.6);
  z-index: 1;
}

.menu-top {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 0.8rem 0;
}

.white-menu {
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* About page styling */
.description {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem 2rem;
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.imgRestaurant {
  margin-top: 2rem;
  max-width: 60vw;
  height: 50vh;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* style contact page */
.contact {
  color: #f0f8ff;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('./assets/cabbage.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-container {
  border: 2px solid #f0f8ff;
  background-color: rgb(110, 111, 111, 0.4);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: -40%;
  text-align: center;
  line-height: 1.5;
}

.contactUs {
  display: block;
}